---
swagger: "2.0"
info:
  description: "This is a Concora integration api."
  version: "1.0.0"
  title: "Concora Interation API"
host: "integration.concora.com"
basePath: "/v1"

schemes:
- "https"
- "http"
paths:
  /crm/zapier/webhook/add:
    post:
      tags:
      - "Zapier Trigger"
      summary: "save a zapier trigger webhook url "
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Pet object that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/Webhook"
      responses:
        200:
          description: "webhook created"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
  /crm/zapier/webhook/remove:
    put:
      tags:
      - "Zapier Trigger"
      summary: "Update an existing pet"
      description: ""
      operationId: "updatePet"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Delete webhook By Id "
        required: true
        schema:
          type: object
                properties:
                  hookId:
                    type: string
      responses:
        200:
          description: "webhook deleted"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /crm/zapier/event/sample/data:
    get:
      tags:
      - "Zapier Trigger"
      summary: "get event data"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "get data"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
securityDefinitions:
  Bearer:
    type: "apiKey"
    name: "authorization"
    in: "header"
security: 
      - Bearer: []
definitions:
  Webhook:
    type: "object"
    required:
    - "hookUrl"
    - "type"
    properties:
      hookUrl:
        type: "string"
      type:
        type: "string"
    xml:
      name: "Webhook"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
